<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ylj" >

    <application
        android:name=".main.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MenuActivity"
            android:label="@string/title_activity_menu"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".connect.ConnectActivity"
            android:label="@string/title_activity_connect"
            android:launchMode="singleTop"
            android:parentActivityName=".main.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ylj.main.MenuActivity" />
        </activity>
        <activity
            android:name=".task.NewTaskActivity"
            android:label="@string/title_activity_new_task"
            android:parentActivityName=".main.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ylj.main.MenuActivity" />
        </activity>
        <activity
            android:name=".adjust.AdjustLightActivity"
            android:label="@string/title_activity_adjust_heavy"
            android:parentActivityName=".task.NewTaskActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".task.NewTaskActivity" />
        </activity>
        <activity
            android:name=".adjust.AdjustMiddleActivity"
            android:label="@string/title_activity_adjust_heavy"
            android:parentActivityName=".task.NewTaskActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".task.NewTaskActivity" />
        </activity>
        <activity
            android:name=".adjust.AdjustHeavyActivity"
            android:label="@string/title_activity_adjust_heavy"
            android:parentActivityName=".task.NewTaskActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".task.NewTaskActivity" />
        </activity>
        <activity
            android:name=".adjust.AdjustResultActivity"
            android:label="@string/title_activity_adjust_heavy"
            android:parentActivityName=".task.NewTaskActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".task.NewTaskActivity" />
        </activity>
        <activity
            android:name=".setting.SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".setting.UserActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ylj.setting.UserActivity" />
        </activity>
        <activity
            android:name=".staff.StaffModifyActivity"
            android:label="@string/title_activity_staff_modify"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".staff.StaffManagerActivity"
            android:label="@string/title_activity_staff_manager"
            android:launchMode="singleTop"
            android:parentActivityName=".main.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ylj.main.MenuActivity" />
        </activity>
        <activity
            android:name=".staff.AdminModifyActivity"
            android:label="@string/title_activity_admin_modify"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".staff.PasswdModifyActivity"
            android:label="@string/title_activity_passwd_modify"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".setting.UserActivity"
            android:label="@string/title_activity_user"
            android:launchMode="singleTop"
            android:parentActivityName=".main.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ylj.main.MenuActivity" />
        </activity>
        <activity
            android:name=".task.TaskModifyActivity"
            android:label="@string/title_activity_task_modify"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".task.TaskManagerActivity"
            android:label="@string/title_activity_task_manager"
            android:parentActivityName=".main.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ylj.main.MenuActivity" />
        </activity>
    </application>

</manifest>
